*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;

}

.clear-fix {
    clear: both;
}

body {
    color: #555555;

    font-family: 'Source Sans 3', sans-serif;
}


/* section-1  start */
/* header-area */

.home-item {
    position: relative;
}

.home-item img {
    width: 100%;
    height: 100vh;
    display: block;
}

.navbar {
    background-color: rgba(0, 0, 0, 1);
    padding: 0px 150px;


}

.navbar .logo {
    font-size: 25px;
    font-weight: 800;
    padding-top: 10px;

    margin: auto;
    /* padding: 20px 150px; */

    float: left;
}

.logo {
    color: #ff305b;
}

.nav-menu {

    float: right;
}

.nav-menu ul li {
    padding: 20px;
    float: left;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

ul li a.hom {
    color: #ff305b;
}

ul li a:hover {
    color: #ff305b;
}

.caption {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: #ffffff;

}

.caption-text {
    width: 50%;
    margin: auto;
    transform: translate(10px, 244px);

}

.caption h3 {
    font-size: 22px;
    font-weight: 600px;
    margin: 0 0 10px;
}

.caption h1 {
    color: #ff305b;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.caption p {
    font-size: 20px;
    color: #fff;
    margin: 0 0 10px;
}

/* section-1 End */
/* ======================================== */

/* section-2   start*/
/* about-area */

.about-area {
    width: 100%;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
}

.about {
    width: 75%;
    background-color: white;
    margin: auto;
}

.about-img {
    border: solid rgb(85, 85, 85) 8px;
    border-radius: 5px;


}

.about img {
    width: 100%;
    border-radius: 8px;
    transform: translate(15px, 15px);

}

.abt-flt {
    width: 40%;
    float: left;
    margin: 40px;
}

.about-img .abt-flt {
    top: 0;
    left: 0;

}

#I {
    color: rgb(255, 48, 91);
}

.paragraph h2 {
    font-size: 28px;
    line-height: 22px;
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
}

.paragraph p {
    color: rgb(51, 51, 51);
    line-height: 25px;
}

ul {
    list-style-type: none;
}

.formation {
    padding: 10px;
}

.child-formation {
    float: left;
}

.bold {
    font-size: 16px;
    font-weight: 700;
}

.paragraph a {
    text-decoration: none;
    color: white;
    padding: 12px 25px;
    margin-right: 10px;
    background-color: RGB(255, 48, 91);
    border-radius: 5px;
    transition-duration: 0.3s;
}

.paragraph a:hover {
    background-color: rgb(198, 0, 0);
}

/* ======== */

/* section-2 End */
/* ============================================= */


/* section-3   start*/
/* service-area */
.container {
    background-color: #f1f1f1;
    padding: 10px;
}

.container-item .our {
    width: 80%;
    margin: auto;
    padding: 0 0 30px;
    text-align: center;
    font-size: 30px;
    position: relative;
}


.container-item .our::after {
    content: "";
    background-color: #ff305b;
    width: 160px;
    height: 1px;
    bottom: 9px;
    position: absolute;
    right: 402px;
}

.container-item h2::before {
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.container-item h2::before {
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    bottom: 0;
    padding: 10px 0 5px;
    width: 103px;
}


.container-item h3 {
    font-size: 22px;
}

.container-item p {
    font-size: 20px;
}

.container .container-item .single-service {
    width: 25%;
    float: left;
    padding: 15px 15px;
}

.container .container-item {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.container .container-item i {
    color: #ff305b;
    font-size: 36px;
    padding-top: 10px;
    margin-bottom: 20px;

}


.single-service:hover .single-service-inner {
    background: #ffffff none repeat scroll 0 0;
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 3px;


}

.single-service:hover .single-service-inner i {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

/* section-3 End */
/* ==================================================== */


/*  section-4 start*/
/* Our Portfolio */
.baking {
    text-align: center;
    background-color: #ffffff;
}

.baking .all h2 {
    position: relative;
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
}

/* ============ */
.all h2:before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: #CD5C5C;
    left: 705px;
    top: 60%;
    position: absolute
}

.all h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    background: #CD5C5C;
    right: 690px;
    top: 70%;
    position: absolute;
}




.baking .all button {
    border: none;
    padding: 20px;
    background-color: #ffffff;
}
.baking .container {
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    padding-top: 40px;
}
.baking-item {
    width: 33.33333%;
    float: left;
    padding: 10px 15px 15px 10px;
    box-sizing: border-box;
    position: relative;
}

.baking-item img {
    width: 100%;
    height: 100%;
    display: block;
}
/* ============ */

.layer {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0%;
    transition: opacity 1s;
}

.baking-item a i {
    color: #FF305B;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px;
}


.baking-item:hover .layer{
opacity: 1;

}
/* ============== */

/* section-4 End */
/* ==================================================== */

/* section-5 start */
/* facts-area */
.facts-items {
    margin: auto;
    text-align: center;
    margin-top: 70px;
}

.facts-area .item {
    background-color: #f1f1f1;
    width: 25%;
    float: left;
    margin-bottom: 50px;
    padding: 80px;
}

.facts-area .item i {
    font-size: 25px;
    color: #ff305b;
}

.facts-area .item h3 {
    font-size: 30px;
}

.facts-area .item h5 {
    font-size: 17px;
}

/* section-5 End */
/* ==================================================== */



/* section-6 start */
/* feedback-area */
.feed {
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 50px 0;

}

.sec {
    width: 50%;
    margin: auto;
    background-color: RGB(241, 241, 241);
    border-radius: 5px;
    position: relative;
    padding-left: 150px;
    padding-bottom: 30px;
    padding-top: 30px;
    overflow: hidden;
}

.sec img {
    border-radius: 50%;
    width: 100px;
    position: absolute;
    left: 20px;
    top: 10px
}

.card {
    text-align: left;

}

.feed h2 {
    padding-bottom: 25px;
    font-size: 40px;
    font-weight: 800;
}

/* =========================================== */

/* =========================================== */



.card h3 {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 15px;
    color: rgb(51, 51, 51);
}

.card span {
    padding-bottom: 15px;
}

.card p {
    color: #000;
    font-size: 18px;
}

.stars {
    position: absolute;
    left: 150px;
    color: #F1C30D;
}

.bord {
    height: 200px;
    width: 400px;
    background-color: #ff305b;
    position: absolute;
    transform: rotate(45deg) translate(-445px, 150px);
}



/* section-6 End */
/* ==================================================== */




/* section-7 start */
/* blog-area */
.blog-area {
    margin-top: 50px;
    width: 100%;
    padding: 80px;

    overflow: auto;
    background-color: #f1f1f1;
}

.blog-area .title h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    position: relative;
}

/* ====================== */


.blog-area .title h2:before {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: #CD5C5C;
    left: 635px;
    top: 130%;
    position: absolute;
}

.blog-area .title h2:after {
    content: "";
    display: block;
    width: 140px;
    height: 1px;
    background: #CD5C5C;
    right: 615px;
    top: 160%;
    position: absolute;
}

.blog-area .title .under {
    position: relative;
}

.blog-area .title .under:before {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: #CD5C5C;
    left: 640px;
    /* top: 0%; */
    position: absolute;
}

/* ====================== */



.items {
    width: 33.333%;
    float: left;
    background-color: #f1f1f1;


}

.frame {
    height: 220px;
    width: 100%;
}

.items img {
    width: 100%;
}

.items .inner {
    padding: 10px;
    margin: 20px;
    background-color: #fff;
}


/* section-7 End */
/* ======================================= */






/* section-8 start */
/* contact-area */
.contact-title h2 {

    background-color:
        RGBA(0, 0, 0, 0);
    text-align: center;

    font-size: 28px;
    color: #333333;
    position: relative;
}

.contact-form h2:before {
    content: "";
    display: block;
    width: 160px;
    height: 1px;
    background: #CD5C5C;
    left: 640px;
    top: 130%;
    position: absolute;
}

.contact-form h2:after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: #CD5C5C;
    right: 674px;
    top: 155%;
    position: absolute;
}

.contact-form .line {
    position: relative;
}

.contact-form .line:before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: #CD5C5C;
    left: 665px;
    top: 180%;
    position: absolute;
}





















.contact-form {
    margin: 40px;
}

.form-paret {
    width: 70%;
    margin: auto;
    background-color: tan;
}

.form-paret .child {
    width: 50%;
    float: left;
    padding: 6px 12px;

}

.child input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #a94442;
    border-radius: 4px;
}

.for input {
    width: 68%;
    height: 34px;
    padding: 6px 12px;

    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid#a94442;
    transform: translateX(230px);
    border-radius: 4px;

}

.five textarea {
    border-radius: 4px;
    width: 68%;
    margin: auto;
    transform: translateX(235px);
    border: 1px solid;
    height: 100px;
    padding: 10px;
    margin-top: 10px;
    border-color: #a94442;
}

.from {
    width: 10%;
    background-color: #ff305b;
    border-color: #ff305b;
    color: #ffffff;
    opacity: 1;
    border-radius: 7px;
    text-align: center;

    line-height: 38px;
    transform: translateX(235px);

}

.from button {
    width: 100%;
    border: none;
    background-color: #ff305b;
    color: #fff;
    font-size: 16px;

}

.from button:hover {
    background-color: orangered;
}






/* section-8 End */
/* ======================================= */

/* footer START */
.footer {
    background-color: #333333;
    text-align: center;
    padding: 50px;
}

.footer i {
    color: #fff;
    padding: 10px;
}

.footer p {
    font-size: 20px;
    color: #fff;
}

.footer .fair {
    color: red;
    text-decoration: none;

}
.footer .fair span{
    color: #ff305b;
}

.footer i:hover {
    color: red
}

.footer .fair:hover {

    text-decoration: underline;

}


/*footer  END */





/* MEDIA START */

@media screen and (max-width: 992px) {


    .home-item {
        position: relative;
    }

    .home-item img {
        width: 100%;
        height: 100vh;
        display: block;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 1);
        padding: 0px 150px;


    }

    .navbar .logo {
        font-size: 25px;
        font-weight: 800;
        padding-top: 10px;

        margin: auto;
        /* padding: 20px 150px; */

        float: left;
    }

    .logo {
        color: #ff305b;
    }

    .nav-menu {

        float: right;
    }

    .nav-menu ul li {
        padding: 20px;
        float: left;
    }

    .nav-menu ul li {
        width: 0%;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .navbar a {
        color: #fff;
        text-decoration: none;
    }

    ul li a.hom {
        color: #ff305b;
    }

    ul li a:hover {
        color: #ff305b;
    }

    .caption {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        text-align: center;
        color: #ffffff;

    }

    .caption-text {
        width: 100%;
        margin: auto;
        transform: translate(10px, 244px);

    }

    .caption h3 {
        font-size: 22px;
        font-weight: 600px;
        margin: 0 0 10px;
    }

    .caption h1 {
        color: #ff305b;
        font-size: 70px;
        font-weight: bold;
        margin: 0 0 10px;
        text-transform: uppercase;
    }

    .caption h4 {
        font-size: 20px;
        color: #fff;
        margin: 0 0 10px;
    }

    /* section-1 End */
    /* ======================================== */










    .about-area {
        width: 200%;
        background-color: white;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
    }

    .about {
        width: 75%;
        background-color: white;
        margin: auto;
    }

    .about-img {
        border: solid rgb(85, 85, 85) 8px;
        border-radius: 5px;


    }

    .about img {
        width: 100%;
        border-radius: 8px;
        transform: translate(15px, 15px);

    }

    .abt-flt {
        width: 40%;
        float: left;
        margin: 40px;
    }

    #I {
        color: RGB(255, 48, 91);
    }

    .paragraph h2 {
        font-size: 28px;
        line-height: 22px;
        margin-bottom: 20px;
        color: RGB(51, 51, 51);
    }

    .paragraph p {
        color: RGB(51, 51, 51);
        line-height: 25px;

    }

    .paragraph a {
        width: 100%;
    }

    ul {
        list-style-type: none;
    }

    .bold {
        font-size: 16px;
        font-weight: 700;
    }

    .paragraph a {

        text-decoration: none;
        color: white;
        padding: 12px 25px;
        margin-right: 10px;
        background-color: RGB(255, 48, 91);
        border-radius: 5px;
        transition-duration: 0.3s;
    }

    .paragraph a:hover {
        background-color: rgb(198, 0, 0);
    }


    /* section-2 End */
    /* ============================================= */


    /* section-3   start*/
    /* service-area */
    .container {
        background-color: #f1f1f1;
        padding: 10px;
    }

    .container-item .our {
        width: 80%;
        margin: auto;
        padding: 0 0 30px;
        text-align: center;
        font-size: 30px;
        position: relative;
    }

    .sss {
        background-color: #ff305b;
        border: 1px;
        height: 1px;
        width: 160px;


    }

    .container-item .our::after {
        content: "";
        background-color: #ff305b;
        width: 160px;
        height: 1px;
        bottom: 9px;
        position: absolute;
        right: 402px;
    }

    .container-item h2::before {
        content: "";
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
    }

    .container-item h2::before {
        border-color: #ff305b;
        border-style: solid;
        border-width: 1px 0;
        bottom: 0;
        padding: 10px 0 5px;
        width: 103px;
    }


    .container-item h3 {
        font-size: 22px;
    }

    .container-item p {
        font-size: 20px;
    }

    .container .container-item .single-service {
        width: 50%;
        float: left;
        padding: 15px 15px;
    }

    .container .container-item {
        width: 80%;
        margin: auto;
        margin-top: 40px;
        text-align: center;
        padding: 10px;
        margin-bottom: 30px;
    }

    .container .container-item i {
        color: #ff305b;
        font-size: 36px;
        padding-top: 10px;
        margin-bottom: 20px;

    }


    .single-service:hover .single-service-inner {
        background: #ffffff none repeat scroll 0 0;
        -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
        border-radius: 3px;


    }

    .single-service:hover .single-service-inner i {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    /* section-3 End */
    /* ==================================================== */


    /*  section-4 start*/
    /* Our Portfolio */
    .baking {
        text-align: center;
        background-color: #ffffff;
    }

    .baking .all h2 {
        font-size: 40px;
        margin-bottom: 40px;
        margin-top: 40px;
        padding-bottom: 30px;
    }

    .baking .all button {
        border: none;
        padding: 20px;
        background-color: #ffffff;
    }

    .baking .container {
        background-color: #ffffff;
        width: 70%;
        margin: auto;
        padding-top: 40px;

    }

    .baking-item {
        width: 100%;
        float: left;
        padding: 10px 15px 15px 10px;
        box-sizing: border-box;
        position: relative;
    }

    .baking-item img {
        width: 100%;
        display: block;

    }







    /* section-4 End */
    /* ==================================================== */

    /* section-5 start */
    /* facts-area */
    .facts-items {
        margin: auto;
        text-align: center;
        margin-top: 70px;
    }

    .facts-area .item {
        background-color: #f1f1f1;
        width: 100%;
        float: left;
        margin-bottom: 50px;
        padding: 80px;
    }

    .facts-area .item i {
        font-size: 25px;
        color: #ff305b;
    }

    .facts-area .item h3 {
        font-size: 30px;
    }

    .facts-area .item h5 {
        font-size: 17px;
    }

    /* section-5 End */
    /* ==================================================== */



    /* section-6 start */

    /* section-6 start */
    /* feedback-area */
    .feed {
        width: 100%;
        background-color: white;
        text-align: center;
        padding: 50px 0;

    }

    .sec {
        width: 100%;
        margin: auto;
        background-color: RGB(241, 241, 241);
        border-radius: 5px;
        position: relative;
        padding-left: 150px;
        padding-bottom: 30px;
        padding-top: 30px;
        overflow: hidden;
    }

    .sec img {
        border-radius: 50%;
        width: 100px;
        position: absolute;
        left: 20px;
        top: 10px
    }

    .card {
        text-align: left;

    }

    .feed h2 {
        padding-bottom: 25px;
        font-size: 40px;
        font-weight: 800;
    }

    /* =========================================== */

    /* =========================================== */











    .card h3 {
        font-size: 26px;
        font-weight: 600;
        padding-bottom: 15px;
        color: rgb(51, 51, 51);
    }

    .card span {
        padding-bottom: 15px;
    }

    .card p {
        color: #a94442;
        font-size: 18px;
    }

    .stars {
        position: absolute;
        left: 150px;
        color: #F1C30D;
    }

    .bord {
        height: 200px;
        width: 400px;
        background-color: #ff305b;
        position: absolute;
        transform: rotate(45deg) translate(-445px, 150px);
    }



    /* section-6 End */
    /* ==================================================== */



    /* section-6 End */
    /* ==================================================== */




    /* section- start */
    /* blog-area */
    .blog-area {
        margin-top: 50px;
        width: 100%;
        padding: 80px;

        overflow: auto;
        background-color: #f1f1f1;
    }

    .blog-area .title {
        text-align: center;
        font-size: 28px;
        margin-bottom: 40px;
    }

    .items {
        width: 100%;
        float: left;
        background-color: #f1f1f1;


    }

    .frame {
        height: 220px;
        width: 100%;
    }

    .items img {
        width: 100%;
    }

    .items .inner {
        padding: 10px;
        margin: 20px;
        background-color: #fff;

    }

    /* section-8 start */
    /* contact-area */
    .contact-title h2 {

        background-color:
            RGBA(0, 0, 0, 0);
        text-align: center;

        font-size: 28px;
        color: #333333;
        position: relative;
    }

    .contact-form h2:before {
        content: "";
        display: block;
        width: 160px;
        height: 1px;
        background: #CD5C5C;
        left: 640px;
        top: 130%;
        position: absolute;
    }

    .contact-form h2:after {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background: #CD5C5C;
        right: 674px;
        top: 155%;
        position: absolute;
    }

    .contact-form .line {
        position: relative;
    }

    .contact-form .line:before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background: #CD5C5C;
        left: 665px;
        top: 180%;
        position: absolute;
    }

    .contact-form {
        margin: 40px;
    }

    .form-paret {
        width: 100%;
        margin: auto;
        background-color: tan;
    }

    .form-paret .child {
        width: 100%;
        float: left;
        padding: 6px 12px;

    }

    .child input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #a94442;
        border-radius: 4px;
    }

    .for input {
        width: 100%;
        height: 34px;
        padding: 6px 12px;

        font-size: 14px;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid#a94442;
        transform: translateX(230px);
        border-radius: 4px;

    }

    .five textarea {
        border-radius: 4px;
        width: 100%;
        margin: auto;
        transform: translateX(235px);
        border: 1px solid;
        height: 100px;
        padding: 10px;
        margin-top: 10px;
        border-color: #a94442;
    }

    .from {
        width: 100%;
        background-color: #ff305b;
        border-color: #ff305b;
        color: #ffffff;
        opacity: 1;
        border-radius: 7px;
        text-align: center;

        line-height: 38px;
        transform: translateX(235px);

    }

    .from button {
        width: 100%;
        border: none;
        background-color: #ff305b;
        color: #fff;
        font-size: 16px;

    }

    .from button:hover {
        background-color: orangered;
    }

}
@media screen and (max-width: 600px) {
    .container .container-item .single-service {
        width: 100%;
        float: left;
        padding: 15px 15px;
    }
}